<link href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet">

<div class="nav-bar"><h1>-vote-o-n</h1></div>
<br><br>
<table class="hoverTable">
  <thead>
<% if @polls.count.positive? %>
        <% @polls.each do |poll| %>
            <tr>  
            
            <th>
            <%=link_to poll.name, action: :show, id: poll.id %>
            </th>
            <th>
        <span class="actions">(
            <%= link_to :edit, action: :edit, id: poll.id %> | 
            <%= link_to :delete, { action: :remove, id: poll.id },
            data: { confirm: 'Do you wanna delete poll?' } %> 
        )</span>
            </th>
            </tr>
        <% end %>

<% else %>
<p>No polls at the moment.</p>
<% end %>




  </thead>
</table>


<div class="nav-bar"><h3>
    <%= link_to 'Create new poll', action: :create %>
</h3></div>